<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div th:replace="fragments/menu">MENU</div>
<div class="container">
    <div class="row">
        <div class="col-xl-8 offset-xl-2">

            <h1 class="text-center">Register</h1>
            <form th:action="@{/register}" method="post" th:object="${patient}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="email"><b>Email:</b></label>
                    <input id="email" type="email" class="form-control" th:field="*{email}" required/>
                </div>
                <div th:if="${errors.containsKey('email')}">
                    <p class="text-danger" th:text="${errors.get('email')}"></p>
                </div>
                <div class="form-group">
                    <label for="password"><b>Password:</b></label>
                    <input id="password" type="password" class="form-control" th:field="*{password}" required/>
                </div>
                <div th:if="${errors.containsKey('password')}">
                    <p class="text-danger" th:text="${errors.get('password')}"></p>
                </div>
                <div class="form-group">
                    <label for="passwordConfirmation"><b>Password confirmation:</b></label>
                    <input id="passwordConfirmation" type="password" class="form-control"
                           th:field="*{passwordConfirmation}" required/>
                </div>
                <div class="form-group">
                    <label for="firstName"><b>First Name:</b></label>
                    <input id="firstName" type="text" class="form-control" th:field="*{firstName}" required/>
                </div>
                <div th:if="${errors.containsKey('firstName')}">
                    <p class="text-danger" th:text="${errors.get('firstName')}"></p>
                </div>
                <div class="form-group">
                    <label for="lastName"><b>Last Name:</b></label>
                    <input id="lastName" type="text" class="form-control" th:field="*{lastName}" required/>
                </div>
                <div th:if="${errors.containsKey('lastName')}">
                    <p class="text-danger" th:text="${errors.get('lastName')}"></p>
                </div>
                <div class="form-group">
                    <label for="phone"><b>Phone:</b></label>
                    <input id="phone" type="text" class="form-control" th:field="*{phone}" required/>
                </div>
                <div th:if="${errors.containsKey('phone')}">
                    <p class="text-danger" th:text="${errors.get('phone')}"></p>
                </div>
                <div class="form-group">
                    <b><label for="gender"><b>Gender:</b></label></b></br>
                    <select id="gender" th:field="${patient.gender}" required>
                        <option th:each="g : ${genders}" th:value="${g}" th:text="${g}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="date"><b>Birthday date:</b></label>
                    <input id="date" type="date" class="form-control" th:field="*{birthdayDate}" required>
                </div>
                <div class="form-group">
                    <label for="photo"><b>Photo:</b></label>
                    <input id="photo" type="file" class="form-control" th:field="*{multipartFile}" required/>
                </div>
                <div>
                    <button class="btn btn-success btn-lg" type="submit">Register</button>
                    <button class="btn btn-danger btn-lg" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>